<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haroldadmin.whatthestack">
    <application>
        <provider
            android:name=".WhatTheStackInitProvider"
            android:authorities="${applicationId}.WhatTheStackInitProvider"
            android:exported="false"
            android:enabled="true"/>
        <service
            android:name=".WhatTheStackService"
            android:process=":what_the_stack_process" />
        <activity
            android:name=".WhatTheStackActivity"
            android:theme="@style/Theme.WhatTheStackTheme"
            android:process=":what_the_stack_process" />
    </application>
</manifest>
