<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haroldadmin.whatthestack">
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="com.haroldadmin.whatthestack.WhatTheStackInitializer"
                android:value="androidx.startup" />
        </provider>

        <service
            android:name=".WhatTheStackService"
            android:exported="false"
            android:process=":what_the_stack_process" />
        <activity
            android:name=".WhatTheStackActivity"
            android:theme="@style/Theme.WhatTheStackTheme"
            android:exported="false"
            android:process=":what_the_stack_process" />
    </application>
</manifest>
